include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'paddys-portfolio'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")


		link(href="/styles/site.min.css", rel="stylesheet")
		link(href="/vendor/font-awesome/css/font-awesome.min.css", rel="stylesheet")

		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body#page-top

		#mainNav.navbar.navbar-default.navbar-fixed-top
				.contaliner-fluid
					.navbar-header.page-scroll
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand.page-scroll(href='#page-top') Paddy's Portfolio
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-left
							li
								a(href="#about").page-scroll About
							li
								a(href="#whatwedo").page-scroll What we do
							li
								a(href="#porfolio").page-scroll Portfolio
							li
								a(href="#contact").page-scroll Contact
	
		//body
		.header-section.header-content.countainer-fluid
			.container
				.row
					.col-lg-12.header-content-inner
						h1#home-heading Peacefull Reef
						hr.light
						p.text-faded A calm oasis of tech and design

		//blurb about the site
		#about.about-section.bg-primary
			.container
				.row
					.col-lg-8.col-lg-offset-2.text-center.header-content-inner
						h1.section-heading Site description
						hr.light
						p.text-faded This site is built with Twitter Bootstrap ontop of a KeystonsJs backbone running NodeJS. Working with This all inclusive frameworks gives us a great backbone to create custom web apps with an easy to use CMS to allow customers customize their own sites. No more expensive after care for day to day maintenance of your site. This also give us huge flexibility with what we can create as opposed to using a premade CMS and template system such as wordpress or square space. Not that we don't like them, they have their time and place, but it's important to know when that time and place is.

		//what we do section with ICONS
		#whatwedo.other-section
			.container
				.row
					.col-lg-12.text-center
						h1.section-heading What we do
						hr.primary
			.container
				.row
					.col-lg-6.col-md-6.text-center
						.service-box
							i.fa.fa-4x.fa-chrome.text-primary.sr-icons
							h1 Web App Development
							p.Looking for a snazzi new way to showcase your products or company. Or maybe you're looking for a way to manage customers and need something a bit more complicated.
					.col-lg-6.col-md-6.text-center
						.service-box
							i.fa.fa-4x.fa-apple.text-primary.sr-icons
							h1.Mobile App Development
							p.With years of experience in IOS development we know exactly what it takes to create awesome user friendly apps. We believe technology should be beautiful and fun. 	
					
		#porfolio
			.row.no-gutter.popup-gallery
				.col-lg-6.col-sm-4
					a(href="http://www.quetzaltrekkers.com").portfolio-box
						img(src="/images/Quetzal.png").portfolio-box.image-responsive
						.portfolio-box-caption
							.portfolio-box-caption-content
								.project-category.text-fade
									h1 Quetzal Trekkers Guatemala
				.col-lg-6.col-sm-4
					a(href="http://www.peacefulreefstudios.com").portfolio-box
						img(src="/images/Gutters.png").portfolio-box.image-responsive
						.portfolio-box-caption
							.portfolio-box-caption-content
								.project-category.text-fade
									h1 Gutter Service Of New England
				
								
					
		#contact.contact-section
			.container
				.row
					.col-lg-12.text-center
						h1.section-heading Get in Touch
						hr.primary
				.row
					.col-lg-12.text-center
						p Whether your looking for an app, a site, or just need to have a chat to figure out what technology could be best suited for your needs don't hesitate to get in touch.
						.col-lg-4.col-lg-offset-2.text-center
							i.fa.fa-4x.fa-phone.text-primary.sr-icons
							p #[a(href="tel:+353838373660") 083 8373 660]
						.col-lg-4.text-center
							i.fa.fa-4x.fa-envelope-o.text-primary.sr-icons
							p #[a(href="mailto:padmon29@gmail.com") padmon29@gmail.com]


		//- FOOTER
		.container: #footer


		//- JAVASCRIPT

		script(src='/js/jquery/jquery-1.11.3.min.js')
		script(src="/js/jquery/jquery-easing.js")
		script(src='/vendor/scrollreveal/scrollreveal.min.js')
		script(src='/vendor/magnific-popup/jquery.magnific-popup.min.js')
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		script(src='/js/custom.js')

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		
		//- Include template-specific javascript files by extending the js block
		block js
